
PYTHON PRACTICE: BASICS & FUNDAMENTALS
Source: Programmiz (Jupyter Practice)
Author: Swapnil

---------------------------------------------------------
VARIABLES AND LITERALS 
---------------------------------------------------------

In [ ]:
# Basic Printing
print("Hello World")  # Same as ' ' single quotes

In [ ]:
# Comments
print("This is a multi line comment") 
''' Print is invalid syntax and print is valid first p must be lowercase'''

In [ ]:
# Sum of two numbers 
a = 2 
b = 5 
c = a + b
print(a + b)
print("The sum is", c)

In [ ]:
# Single print 
print(55)
print(b)

In [ ]:
# String and Variable declarations
number = 10 
number1 = "My name is Swapnil"
n = 'OK'
print(number1)
print(number)
print(n)

In [ ]:
# Reassigning variables
a = 'hello'
b = 2 
c = 6.3
print(a)
print(b)
print(c)

In [ ]:
# Multiple Assignment
a, b, c = 2, 'hello', 3.5
print(a)
print(b)
print(c)

In [ ]:
# Note on Type Inference
print("Note: Python is a type-inferred language, so you don't have to explicitly define the variable type.")
print("It automatically knows that programiz.pro is a string and declares the site_name variable as a string")

In [ ]:
# Character Literal
J = 'C'
print(J)

In [ ]:
# Special Literals (None, Boolean)
d = None      # Special
g = True      # Boolean literal
h = False 
b = 'v'       # char literal
print(d)
print(g)
print(h)
print(b)
print('error if all caps in TRUE FALSE or NONE')

In [ ]:
# Set Literal 
set_A = {'1', '2', '5'}
b = {'c', "a", "tomato"}
print(set_A)
print(b)

In [ ]:
# Dictionary Literal
try1 = {'a': 'Let us', 'b': 'do', 'c': 'it'}
print(try1)

In [ ]:
# Tuple Literal
av = (1, 2, 3)
print(av)
# Nesting tuple inside tuple
a = (av, a, b) 
print(a)

In [ ]:
# List Literal
fruits = ["apple", "mango", "orange"] 
print(fruits)

---------------------------------------------------------
PYTHON TYPE CONVERSION
---------------------------------------------------------

In [ ]:
# Manual conversion (Explicit)
a = '12'
b = 50 
print('Type is', type(a))

In [ ]:
a = int(a) # explicit conversion of integer as a literal to int
# remember "type", "print" all are keywords and appear green.
# a = str(a)
print('Type is', type(a))

In [ ]:
# Implicit type conversion (Automatic)
a = 2.33
b = 2.11
c = a + b
print("C is", type(c))
print(a + b)

Note on casting
It is type casting and loss of data may occur when doing manual typecasting though

---------------------------------------------------------
BASIC INPUT AND OUTPUT
---------------------------------------------------------

In [ ]:
# Escape characters
print('ok \t yea')  
print('lets \nleave home \n sure \n     sure ')

In [ ]:
# End parameter
# by default if we start a new print stmt then it considers it as \n
print("Let's attach this --> ", end=' ')
print('sentence') # output separated by a linespace

In [ ]:
# Sep parameter
print('lets do it', 'maybe not', ' why not ')
print('lets do it', 'maybe not', ' why not ', sep='.')
print('lets do it', 'maybe not', ' why not ', sep='#')
print('lets do it \n', 'maybe not\n', 28282828, sep='*')

In [ ]:
# String Concatenation
print('abc' + 'bca')

In [ ]:
# String Formatting
# str.format(x,y) more than two arg also possible 
x = 1 
y = 2 
z = x + y 
w = x - y
# fullstop must be here not comma 
print('So the subtraction of x = {} and y = {} is w = {} and addditon is z = {}'.format(x, y, w, z))

In [ ]:
# User Input
var = input('Enter something :') # we can directly typecast here also : int(type())
print(var)
print('The datatype what you entered is:', type(var))

In [ ]:
# Typecasting input
# enter number and then a string but without typecasting it still considers numbers as strings.
try:
    var = int(var)
    print('The datatype what you entered is:', type(var))
except ValueError:
    print("Could not convert input to integer")

---------------------------------------------------------
OPERATORS & LOGIC
---------------------------------------------------------

In [ ]:
# Arithmetic Assignment
a = 11 
a %= 3 
print(a)

In [ ]:
# Comparison
a = 2
b = 4 
print(a > b)

comparison operators ==, !=, >, <, >= all etc

In [ ]:
# Logical Operators
print(a > b or a < b) # or is keyword overall or is logical or 
print((a >= 2) and (b < 9))

In [ ]:
# Not Operator
a = 2 
b = not a 
# so here b = 0 (False)
print(b)
c = b 
print(c)

In [ ]:
# Identity Operators (is, is not)
'''
In Python, is and is not are used to check if two values are located at the same memory location.
It's important to note that having two variables with equal values doesn't necessarily mean they are identical.
'''
a = 29
b = 29 
c = 3 
print(a is not b)
print(a is not c)

In [ ]:
v1 = "hola"
v2 = "hola"
print(v1 is v2)

In [ ]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
print(list1 is list2) 
# Here, we see that x1 and y1 are integers of the same values, so they are equal as well as identical. 
# The same is the case with x2 and y2 (strings). List1 and List2 are different objects.

---------------------------------------------------------
MEMBERSHIP OPERATORS & DATA STRUCTURE NUANCES
---------------------------------------------------------

VERY IMP: In Python, in and not in are the membership operators. 
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).
In a dictionary, we can only test for the presence of a key, not the value.

In [ ]:
# Note: 'c' here refers to the variable 'c' defined previously (which is currently boolean False from line 'c=b')
dict1 = {'a': 'we', 2: 'are', c: 'the ppl'} 
# for dict you can only check for in/not in for index values and here index values need not be in commas. Both works 'a' or a.

In [ ]:
list1 = [1, 2, 5]
tuple1 = (2, 7, 10)
set1 = {'a', '212', 'b'}

In [ ]:
print('a' in dict1)
print('we' in dict1) # False (checks keys only)
print(2 in dict1)
print(c in dict1)
print(b not in dict1)
print('212' in set1)
print(10 in tuple1)

Misconceptions 
List, tuple, set can contain both string, char, floats and numbers

In [ ]:
# Examples of mixed types:
s = {1, 2, 3}          # integers
s2 = {'1', '2', '3'}   # strings
s3 = {'a', 'b'}        # characters (chars are just strings of length 1)
s4 = {1, '2', 3.5}     # mixed types also allowed

In [ ]:
t1 = (1, 2, 3)
t2 = ('1', '2')
t3 = ('hello', 5, 3.14)

In [ ]:
l1 = [1, 2, 3]
l2 = ['1', '2']
l3 = ['a', 10, True, 3.5]

Nested Structures
but dict needs keys and values 
key can be anything except list, set and dict. (Immutable tuple is allowed)

SEE a tuple and list can contain anything a list, set, tuple, dict 
A set can contain if it's immutable tuple. set inside set also not valid

In [ ]:
b = [1, "a", [10, 20], (5, 6), {1, 2}]
a = (1, [2, 3], {4, 5}, (6, 7))

CHAPTER 3.1 (Placeholder)
(End of practice file)

---------------------------------------------------------
PYTHON FLOW CONTROL 
---------------------------------------------------------

In [14]:
    #IF ELSE STATEMENT
box  = int(input('Please enter your marks:')) #dont forget typecasting 
#base condition 
if box>=0 and box<=100: # we can use logical operators and much more in if clause 
        if box > 90:
            print('your grade is A')
        elif box > 75:
            print('your grade is B')
        elif box > 65: 
            print('your grade is C')
        else:
            print('your grade is Unknown for now')
else: 
        print('Out of bounds, Pls enter correct grades')

Please enter your marks: 87

your grade is B

In [21]:
var1 = int(input('Enter Int input:'))
if var1 > 0:
    print(f'This is your number {var1}') #diff style to print use f

Enter Int input: 2

This is your number 2

In [ ]:
# You can if - else 
# You can use if { if elif elif else } else ------------ we can call it nested if 
# Single if is also fine 
# and number of consecutive lines after if with proper indentation gets scoped by that if

In [24]:
# compact if single if is also fine 
number = int(input('Enter int:'))
if number > 0: 
    print(f'You entered {number}')
if number <=0:print(f'You entered {number}')

Enter int: -12

You entered -12

In [25]:
# yeah if else works as a ternary operator because python doesnt have it 
# So if some expression is true excute below or false then execute else part

In [31]:
list = ['apple','orange','green']
for var in list: # a=0 and it iterates auto
    print(var)
    print('------')
for var in list: # a=0 and it iterates auto
    print(list)

apple
------
orange
------
green
------
['apple', 'orange', 'green']
['apple', 'orange', 'green']
['apple', 'orange', 'green']

In [30]:
#The for loop iterates over the elements of sequence in order, and in each iteration, the body of the loop is executed.

#The loop ends after the body of the loop is executed for the last item.

In [32]:
string = 'swapnil' 
for a in string: # it iterates over whole string char to char till the null char /0
    print(a)

s
w
a
p
n
i
l

In [33]:
# iterates till last item 

b = range(1,5)
for a in b:
    print(a)

1
2
3
4

In [34]:
languages = ['Swift', 'Python', 'Go', 'C++']
for a in languages:
    if a=='Go':
        break
    print(a)

Swift
Python

In [35]:
languages = ['Swift', 'Python', 'Go', 'C++']
for a in languages:
    if a=='Go':
        continue
    print(a)

Swift
Python
C++

In [42]:
# outer loop 
attributes = ['Electric', 'Fast']
cars = ['Tesla', 'Porsche', 'Mercedes']

for a in attributes:
        for b in cars:
            print(a,b)
            
        print("---------------")

print('finish')

Electric Tesla
Electric Porsche
Electric Mercedes
---------------
Fast Tesla
Fast Porsche
Fast Mercedes
---------------
finish

In [45]:
for _ in range(0,5): #5 times 
    print('hi')

hi
hi
hi
hi
hi

In [56]:
box1 = int(input("Pls enter Non negative integer:"))

def factorial(box):
    if box < 0:
        print('Invalid')
        return 
    if box==0 or box==1:
        return 1
    return factorial(box - 1)*box

v = factorial(box1)
print(v)

Pls enter Non negative integer: -1

Invalid
None

In [60]:
g = 3
while g != 0:
    print(g)
    g = g - 1

3
2
1

In [5]:
v = int(input("Enter your number we print all fibo less than:"))

def fib(n):
    if n==0: return 0
    if n==1: return 1
    return fib(n-1) + fib(n-2)
    
n = 0
while True:
    catch = fib(n)
    if catch >= v:  # if we want strictly less like i say i want all fibo numbers less than 1 ....yea then 
        break       # we print only 0 done.
    print(catch)
    n+=1


# VERY BAD CODE THO WILL IMPROVE IN FUTURE IN TERMS OF TIME COMPLEXITY

Enter your number we print all fibo less than: 1

0

In [6]:
for i in range(0,5):
    if i==3: break 
    print(i)

0
1
2

In [8]:
for i in range(5):
    if i == 4: 
        break
    print(i)

0
1
2
3

In [2]:
# program to print odd numbers from 1 to 10:

i=0
while i<=10:
    if i % 2 == 0:
        i = i + 1
        continue 
    print(i)
    i+=1

1
3
5
7
9

In [4]:
n = 11
if n > 10: #Useful to write our code in future... Just like a NOP instn. CAN BE USED INSIDE FUNC AND CLASSES TOO
    pass
print("Hi")

Hi

---------------------------------------------------------
PYTHON DATA TYPES
---------------------------------------------------------

In [7]:
num = 8 + 2j
print(f'Our Number is {num}', type(num))
num = 8 
print(f'Our Number is {num}', type(num))
num = 8.212
print(f'Our Number is {num}', type(num))

Our Number is (8+2j) <class 'complex'>
Our Number is 8 <class 'int'>
Our Number is 8.212 <class 'float'>

In [12]:
#Hexadecimal Notation 0x or 0X 
# 0x00ff = 255  
# Octal notation is 0o or 0O ...first is zero and next is alphabet O
# 0o41 = 33 (000 100 001)
#Binary 0b or 0B 
#0b1001 = 9 

print(0x00ff)
print(0o41)
print(0b1001)
print(0x00ff + 0x0001)

255
33
9
256

In [13]:
#implicit type conversion 
print(1+1.0)

2.0

In [14]:
#explicit
a = int(2.9999)
print(a)

2

In [15]:
a = complex(2)
print(a)

(2+0j)

In [16]:
#PYTHON RANDOM MODULE 
#Python offers the random module to generate random numbers or to pick a random item from an iterator.
#First we need to import the random module. For example.

In [44]:
import random 
print(random.randrange(0,2)) # prints 0 or 1 randomly --> here we using randrange(,)
list1 = ['a','b','c',4,'tt']
print(random.choice(list1)) # here we use choice()
random.shuffle(list1)
print(list1)

1
b
['tt', 'a', 'b', 'c', 4]

In [48]:
print(random.random()) #prints any random element

0.4239520742406445

In [83]:
import math 
print(math.pi)
print(math.cos(0))
print(math.cos(math.pi))
print(math.exp(1))
print(math.factorial(6))
print(math.log2(64))
print(math.sinh(1))
print(math.cosh(1))
print(math.asin(1)) # its pie/2 sin^-1(1) = 90deg or pi/2
print("This is pie/2:", (math.pi)/2)

3.141592653589793
1.0
-1.0
2.718281828459045
720
6.0
1.1752011936438014
1.5430806348152437
1.5707963267948966
This is pie/2: 1.5707963267948966

In [85]:
import math
n = float(input('Enter the radius:'))
def area(n):
    x = (math.pi)*(n**2)
    return x 
print(area(n))

Enter the radius: 2

12.566370614359172

In [86]:
# Python List 
ages = [21,28,14]
print(ages)

[21, 28, 14]

In [89]:
student = [23,'yes','a','bruh',[2,4],23,'yes'] # can contain duplicates 
# ORDERING IS THERE BY INDEX so 0 to 6 index 
print(student)

[23, 'yes', 'a', 'bruh', [2, 4], 23, 'yes']

In [90]:
list1 = []
print(list1)

[]

In [91]:
# List are ordered so indexed , duplicates allowed and mutable

In [94]:
print(student[1])
print(student[4])
print(student[3])

yes
[2, 4]
bruh

In [97]:
#Negative indexing is also there so be careful my friend 
# if we start its from 0 to n ---> here you have total n+1 elements 
# and if we start from reverse it is -1 to n ---> here you have total n elements 
print(student[-1])
print(student[-4])
print(student[-3])
print(student[4])

yes
bruh
[2, 4]
[2, 4]

In [110]:
#Slicing a list in python
my_list = ['p', 'r', 'o', 'g', 'r', 'a', 'm']
print("my_list =", my_list)

#when slicing the rhs side index is not included

print('Sliced List is:', my_list[0: 2])
print('Sliced List is:', my_list[0: -5])
print('Sliced List is:', my_list[-1:])
print('Sliced List is:', my_list[-2:])
print('Sliced List is:', my_list[4:])   # if we dont write anything it goes till last
print('Sliced List is:', my_list[4:5])
print('Sliced List is:', my_list[4:-2])

my_list = ['p', 'r', 'o', 'g', 'r', 'a', 'm']
Sliced List is: ['p', 'r']
Sliced List is: ['p', 'r']
Sliced List is: ['m']
Sliced List is: ['a', 'm']
Sliced List is: ['r', 'a', 'm']
Sliced List is: ['r']
Sliced List is: ['r']

In [113]:
print('Sliced List is:', my_list[:3]) #ommiting starting index means go 0 ->1->2 not 3 here  
print('Sliced List is:', my_list[:-4])
print('Sliced List is:', my_list[:])

Sliced List is: ['p', 'r', 'o']
Sliced List is: ['p', 'r', 'o']
Sliced List is: ['p', 'r', 'o', 'g', 'r', 'a', 'm']

In [176]:
# how to append in list it attaches at end

fruits = ['apple', 'banana', 'orange']
fruits.append('new_fruit')   # This appends at last and only takes one argument 
print(fruits)

['apple', 'banana', 'orange', 'new_fruit']

In [160]:
# adding to specific index others will shift to right
fruits.insert(1, 'im_on_index_1') # appends at specific index 
print(fruits)

['im_on_index_1', 'im_on_index_1', 'im_on_index_1', 'im_on_index_1']

In [161]:
fruits.remove('im_on_index_1') # first duplicate element is removed
print(fruits)
a = fruits.pop(0) # pops last element if nothing written in the argument means if its empty and pops element if you give that index 
print(a)
del fruits[1]
print(fruits)

['im_on_index_1', 'im_on_index_1', 'im_on_index_1']
im_on_index_1
['im_on_index_1']

In [166]:
# concate list 
b = [21,2,33]
c = [1,1,0,19281217]
b.extend(c)           # here new name of the list is b so b gets extended and c remains same
print(c)
print(b)

[1, 1, 0, 19281217]
[21, 2, 33, 1, 1, 0, 19281217]

In [167]:
# change list items ....replace 
colors = ['Red', 'Black', 'Green']
print('Original List:', colors)

colors[0] = 'purple'
print(colors)

Original List: ['Red', 'Black', 'Green']
['purple', 'Black', 'Green']

In [239]:
numbers = [2,'a','b',9]

# remove 4 from the list
numbers.remove('a')
numbers.remove(2)

print(numbers)

['b', 9]

In [169]:
names = ['John', 'Eva', 'Laura', 'Nick', 'Jack']

# delete the item at index 1
del names[1]
print(names)

# delete items from index 1 to index 2
del names[1: 3]
print(names)

['John', 'Laura', 'Nick', 'Jack']
['John', 'Jack']

In [170]:
print('The length of list is:', len(names))

The length of list is: 2

In [171]:
fruits = ['apple', 'banana', 'orange']
for a in fruits:
    print(a)

apple
banana
orange

In [217]:
print(fruits[1+1])

orange

In [261]:
# Find the largest number in the list...
numbers = list(map(int,input().split()))
print(numbers)  # when you enter numbers keep space and enter the numbers for a list like 1 22 323 3 4 56 7 ....
                #make sure list isnt empty 

max1 = numbers[0]  # Dont use max as its a keyword 
for a in numbers:  # here a is not index its the value so when you do print a its printing value....
    if int(len(numbers)) == 0:
        print(numbers[0])
    if max1 < a: # a is itself the value at that index 
        max1 = a
print(max1)

 7 81 9

[7, 81, 9]
81

In [230]:
# Very very weird in python for loops iterate over values tho 

fruits = ['apple', 'banana', 'orange']
for a in fruits:
    print(a)
print('#############################')
for a in range(len(fruits)):
    print(a)
    print(fruits[a])

apple
banana
orange
#############################
0
apple
1
banana
2
orange

In [231]:
# Looping over index and looping over values in list ....pay attention

In [240]:
fruits.copy() #Returns the shallow copy of the list

['apple', 'banana', 'orange']

In [244]:
fruits = [ 7 ,1 , 12 ,31 ,6]
fruits.sort()
print(fruits)

[1, 6, 7, 12, 31]

In [245]:
fruits = [ 7 ,1 , 12 ,31 ,6]
fruits.reverse()
print(fruits)

[6, 31, 12, 1, 7]

In [247]:
fruits = [ 7 ,1 , 12 ,31 ,6]
j = fruits.index(31) # Returns index of first matched item 
print(j)

3

In [248]:
fruits = [ 7 ,1 , 12 ,31 ,6]
fruits.clear()
print(fruits)

[]

In [249]:
# Insert takes 2 arguments and append takes single arg and appends at last. Insert we specify index too
#extend used to concate list 
#remove used to Removes the first occurrence of the value x if we do remove(x).
# insert ( index , value)

In [260]:
'''
extend(iterable)

Takes one argument.

Argument must be an iterable (list, tuple, set, string, etc.).

Adds each element from the iterable to the list.
'''

#So see a bit of extra info : a → treated as a variable
# 'a' → treated as a string element inside the list

lst = [ 2 , 1 , 'a',6]
lst.extend("pqrs") # extend() breaks down strings character by character and pqrs is iterable of characters 
print(lst)
lst.extend({'n','m'}) # set 
lst.extend([1,9]) #list 
lst.extend((1111,999))
print(lst)

[2, 1, 'a', 6, 'p', 'q', 'r', 's']
[2, 1, 'a', 6, 'p', 'q', 'r', 's', 'm', 'n', 1, 9, 1111, 999]

In [263]:
#############################################
#PYTHON STRINGS

In [268]:
String = " we are here"
string1 = "ok guys"
print(string1[1])
print(string1[-4])  # keep in mind out of bounds or anything other than numbers then also error 
print(String + string1)
print(string1[1:4])

k
g
 we are hereok guys
k g

In [270]:
#multiline strings 

str = '''hola amigos 
how are you guys doing 
today '''

print(str)

hola amigos
how are you guys doing
today

In [271]:
str1 = "Hello, world!"
str2 = "I love Swift."
str3 = "Hello, world!"

# compare str1 and str2
print(str1 == str2)

# compare str1 and str3
print(str1 == str3)

False
True

In [275]:
str1 = 'hola'
str2 = 'broski'
str3 = str1 + str2 
print(str3) # no space auto

holabroski

In [277]:
greet = 'Hello'

# iterating through greet string
for letter in greet:
    print(letter)

print(len(greet))

H
e
l
l
o
5

In [278]:
print('a' in 'program') # True
print('at' not in 'battle') # False

True
False

In [324]:
##### str = 'Hello'
print(str.lower())
print(str.upper())
print(str.partition(str[1:4])) #creates 2 partition lines and MIDDLE part in the list is main attacked by us in print func
print(str.partition(str[1:]))
print(str.partition(str[2:3])) 
print(str.partition(str[-3]))   # IT TAKES FIRST OCCURENCE OF THAT LETTER AND PARTITIONS IT . NOTE IT DOESNT TAKE THE INDEX AS ARGUMENT

hello
HELLO
('H', 'ell', 'o')
('H', 'ello', '')
('He', 'l', 'lo')
('He', 'l', 'lo')
('He', 'l', 'lo')

In [325]:
# there is a way to partition from second l chatgpt it ..some complex

In [339]:
#escape char

msg = " he said, that \"They already won\" "  # We are escaping the next commas 
print(msg)
msg1 = " ok , \"let\'s go\" , and now thats a thing."
print(msg1)

 he said, that "They already won"
 ok , "let's go" , and now thats a thing.

In [340]:
name = 'Cathy'
country = 'UK'

print(f'{name} is from {country}')

Cathy is from UK

In [3]:
#working with sets
student_id = {112, 114, 116, 118, 115}
set1 = set()
set2 = {}
print(type(set1))
print(type(set2))

<class 'set'>
<class 'dict'>

In [10]:
set1 = {1,1,12,2,31,21,1,2}
print(set1) #SET BY DEF DOESNT contain duplicate elements though

{1, 2, 21, 12, 31}

In [9]:
set1 = {1,1,12,2,31,21,1,2}
set1.add('string')
print(set1)    #Sets are mutable. However, since they are unordered, indexing has no meaning.

{1, 2, 21, 'string', 12, 31}

In [15]:
c= {'Lacoste', 'Ralph Lauren'}
t = ['apple', 'google', 'apple']
 
# t.update(c) so list doesnt support update and shows error 
c.update(t)  
print(c)   #set doesnt contain duplicates though

{'Ralph Lauren', 'google', 'apple', 'Lacoste'}

In [17]:
languages = {'Swift', 'Java', 'Python'}
languages.discard("Swift")
print(languages)

{'Java', 'Python'}

In [24]:
languages = {'Swift', 'Java', 'Python'}
print(all(languages))  #all returns true if all elements are true or set is empty 
languages = {'Swift', 'Java', 'Python', False}
print(all(languages))  #all returns false even if any element is false and empty set is true

True
False

In [28]:
languages = {'Swift', 'Java', 'Python', False}
print(any(languages))  #any returns true if any one is true and false when set is empty or all are false 
lang = set()
print(any(lang))

True
False

In [30]:
print(enumerate(languages)) #Returns an enumerate object. It contains the index and value for all the items of the set as a pair. 
# Dont KNOW what it means tho

<enumerate object at 0x000001FE178AD540>

In [52]:
# len() of set i mean cardinality 
set1 = {1,1,1,1,1,5}
print(len(set1))
#max () element is returned 
print(max(set1))\
# similarly for min()
# sorted()
languages = {'Swift', 'Java', 'Python'}
print(sorted(languages)) #Gives error if different instances are present like bool, strings , integers....NO ERROR if single instance 
#sum()
languages = {1,4,-9.1}
print(sum(languages)) # must have numbers int or float ..Error if strings or char

2
5
['Java', 'Python', 'Swift']
-4.1

In [59]:
#languages = {'Swift', 'Java', 'Python','c++','c'}
#for a in range(len(languages)):
#    print(languages[a])     

# ABOVE CODE WILL GIVE ERROR BECAUSE set' object is not subscriptable.....lIST WILL WORK 

languages = {'Swift', 'Java', 'Python','c++','c'}
for a in languages:
    print(a)

Python
Swift
c
Java
c++

In [63]:
# Set operations 

# first set
A = {1, 3, 10}

# second set
B = {0, 2, 4}

C = A.union(B) # or you can do C = A | B
print(C)

{0, 1, 2, 3, 4, 10}

In [71]:
# So | is or and its Union 
# So & is "and" and is intersection , another way is A.intersection(B)
# - for set diff A.difference(B)
#  A ^ B and A.symmetric_difference(B)
# == is used similar way in sets to compare equality 

set1 = {1,1,1,1,1,2}
set2 = {1,2}
if set1==set2:
    print('Both are same')

Both are same

In [85]:
# dictionary by placing key: value pairs inside curly brackets {}

'''Dictionary keys must be immutable, such as tuples, strings, '''

'''integers, etc. We cannot use mutable (changeable) 
objects such as lists as keys. '''

''' We can also create a dictionary using a Python built-in function dict() '''

# Immutable types
# int
# float
# bool
# str
# tuple
# frozenset
# bytes

# Mutable types
# list
# dict
# set
# bytearray
# custom class objects

' We can also create a dictionary using a Python built-in function dict() '

In [86]:
print('keys of dict must be Unique')

keys of dict must be Unique

In [91]:
list1 = [1,2,3] # Cannot be key but possible to be in values . Pair is key:values 
c = (1,2) # TUPLE 
box = { 1:'string', c:4 , 'c':list1 } # keys must be immutable and unique but here 'c' and c is diff ....
print(box)
print(box['c'])

{1: 'string', (1, 2): 4, 'c': [1, 2, 3]}
[1, 2, 3]

In [93]:
box[c] = [1,2,4,5,6,7] # Also possinle to use update() method 
print(box)

{1: 'string', (1, 2): [1, 2, 4, 5, 6, 7], 'c': [1, 2, 3]}

In [106]:
# UPDATE For set and dict 

#It takes only one argument ( a SET can contain as an single element )
'''
Set CANNOT contain:
list
dict
set

Set CAN contain:
int
float
str
tuple (only if all items inside tuple are also hashable) ---> immutable 
bool
frozenset
None
'''
lst = {21,23,1} # THIS IS A SET 
lst.update([1,2])
lst.update('string')
# lst.update(9)   # THIS WILL GIVE ERROR BECAUSE YOU CANNOT ITERATE OVER IT .... i mean we cannot loop over it 
'''
An iterable = something you can loop over.

Examples of iterables:

list → [1,2,3]

tuple → (1,2,3)

set → {1,2,3}

string → "abc" (iterates over characters)

dict → {"a":1} (iterates over keys)
'''

lst.update({'l':('m',21,3)})
lst.update("ABCDEFG")
lst.update({9999}) # we can do this to add int or do by add()
lst.add(9) # we can use this instead 
# lst.update([909,[808,88],0])  error: unhashable type: 'list' THE MAIN PROBLEM IS NOT THIS LIST IS WRONG . BUT SET cannot take list as an element.
print(lst)

{'t', 1, 2, 'g', 'E', 'D', 9, 9999, 'A', 'B', 21, 'i', 'G', 23, 'F', 's', 'n', 'r', 'C', 'l'}

In [107]:
# INSHORT WHATS ITS DOING IS ADDING ITERABLES ..... AS SINGLE ELEMENTS through tuples , list , dict , set.

In [124]:
# In dict update it also contains single argument but it must contain key:value pairs 
tuple1 = ([1,2],{2,3})
print(tuple1)
dct = { 1:'a' ,2:'b'}
dct.update({4:'g'})     # using dict 
dct.update({5:[1,2,3]}) # Using dict with key:value pair and value is having list but the keys must be immutable ( Another word for it is immutable)
dct.update(({10:'a'}))  # Using tuple but element is key:value pair 
print(dct)

([1, 2], {2, 3})
{1: 'a', 2: 'b', 4: 'g', 5: [1, 2, 3], 10: 'a'}

In [162]:
''' IF YOU WANT TO USE LIST TO UPDATE DICT THEN USE COMMA . HERE YOU CAN HAVE [ (),() ] OR [ {},{} ] SO ANY OF THESE BRACKETS '''
dct = { 1:'a' ,2:'b'}
m = [ {1,2,(6,7),('k','l')},{1:'3',9:'7', 'p':[1]},(8,0),[[1,2],{99:1}]]
dct.update([ {4,'b'},(5,m) ]) # Elements inside this list must be key:value pair , so you can use set notations or tuple notations .
# dct.update({100:m})          ''' if You use {5,m} it gives error beacause set doesnt accept m as element as list and here m is a list.
print(dct)                    # KEY VALUES MUST BE UNIQUE

{1: 'a', 2: 'b', 4: 'b', 5: [{1, 2, (6, 7), ('k', 'l')}, {1: '3', 9: '7', 'p': [1]}, (8, 0), [[1, 2], {99: 1}]]}

In [153]:
'''


SET 
Accepts = int , float , string , TUPLE which are immutable , frozenset 
NOT allowed are = Dict, set , list and TUPLE containing mutable elements 

LIST 
IT can contain anything 

Tuple 
IT can contain anything . Tuples can contain mutable objects. Their immutability applies to their structure.

Dict 
Keys must be (unique + immutable) and value can be anything 
Keys must be Hashable/Immutable ( Cannot contain Set , list , Dict and mutable tuples)

FOR UPDATE FOR SET :
UPDATE TAKES ITERABLE ARGUMENT MEANS :
List , dict iterates over keys , set , tuple , string , range , frozenset 
NOT ITERABLE IS : int , float , bool , None 

'''

print(' See so in set if m is a list and {m} is also not valid. But if m is a tuple (immutable) then {m} is a valid set though ')

 See so in set if m is a list and {m} is also not valid. But if m is a tuple (immutable) then {m} is a valid set though

In [155]:
print(dct.get(1))

a

In [161]:
del dct[1]
print(dct)

{2: 'b', 4: 'b', 5: [{1, 2, (6, 7), ('k', 'l')}, {1: '3', 9: '7', 'p': [1]}, (8, 0), [[1, 2], {99: 1}]]}

In [164]:
dct  = { "String1":" USA " , "String2": "India"}
for a in dct:
    print(a,dct[a])

String1  USA
String2 India

In [176]:
print( "String1" in dct)
print( dct["String1"])
print( dct["String1"] in dct) # IN and NOT IN Only checks for Keys and not values

True
 USA
False

In [177]:
ct  = { "String1":"USA" , "USA": "India"}
print( ct["String1"] in ct)   # so now  we know. in and not in checks for only key or indexes

True

In [178]:
'''
in / not in behavior
Object type	in checks
dict	              ---->   keys only
set	                  ----->  elements
list / tuple / string ---->	elements (or characters for string)
'''

'\nin / not in behavior\nObject type\tin checks\ndict\t              ---->   keys only\nset\t                  ----->  elements\nlist / tuple / string ---->\telements (or characters for string)\n'

---------------------------------------------------------
PYTHON FUNCTIONS
---------------------------------------------------------

In [179]:
# Inbuilt 
import math

# sqrt computes the square root
square_root = math.sqrt(4)

print("Square Root of 4 is",square_root)

# pow() comptes the power
power = pow(2, 3)

print("2 to the power 3 is",power)

Square Root of 4 is 2.0
2 to the power 3 is 8

In [180]:
def future_function():
    pass

# this will execute without any action or error
future_function()

In [183]:
def func(a=9 ,b =1):
    sum = a+b
    return sum

print(func(a=0)) # Giving single arg and specific

# All possible specify both , single any one or give nothing ...for here case

1

In [184]:
# POSITION OF ARG doesnt matter if we already specified arg 

def display_info(first_name, last_name):
    print('First Name:', first_name)
    print('Last Name:', last_name)

display_info(last_name = 'Cartman', first_name = 'Eric')

First Name: Eric
Last Name: Cartman

In [193]:
# Here it takes You can pass a mix of anything (int, str, list, tuple, set, dict, etc.), and inside the function *args collects all of them into a single tuple.

''' BUT INSIDE THE FUNC IT ACTS AS A TUPLE THOUGH '''
lst = [ 1, 2.4,[1,2],(8,0),{0,8},{1:'p'},'string']
def newfunc(*items):
    for a in items:
        print(type(a))
        
newfunc([ 1, 2.4,[1,2],(8,0),{0,8},{1:'p'},'string']) # Here it counts as one element my friend so it says only list
newfunc(lst)

<class 'list'>
<class 'list'>

In [192]:
# Here it takes You can pass a mix of anything (int, str, list, tuple, set, dict, etc.), and inside the function *args collects all of them into a single tuple.

''' BUT INSIDE THE FUNC IT ACTS AS A TUPLE THOUGH '''
lst = [ 1, 2.4,[1,2],(8,0),{0,8},{1:'p'},'string']
def newfunc(*items):
    for a in items:
        print(type(a))
        
newfunc(1, 2.4,[1,2],(8,0),{0,8},{1:'p'},'string')   # Here it counts as one element my friend so it says only list

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'str'>

In [198]:
# Now this passes individually though 

items = [ 1, 2.4,[1,2],(8,0),{0,8},{1:'p'},'string']

def newfunc(*dummyvar):
    for a in dummyvar:
        print(type(a))

newfunc(*items)

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'str'>

In [203]:
# find the norm of the vector:
import math

lst =[0,2,4,3,10,2,4,2,4]
def norm(*vector):
    b =0
    for a in vector:      #Iterate each element 
        b = b + (a**2)
    return math.sqrt(b)

norm(*lst)               # only list takes arg as whole list as one element tho so we do *lst

13.0

In [1]:
# PYTHON VARIABLE SCOPE 

# here we have 3 scopes local , global and nonlocal 

# outside function 
def outer():
    message = 'local'

    # nested function  
    def inner():

        # declare nonlocal variable
        nonlocal message

        message = 'nonlocal'
        print("inner:", message)

    inner()
    print("outer:", message)    # Note : If we change the value of a nonlocal variable, the changes appear in the local variable.

outer()

inner: nonlocal
outer: nonlocal

In [6]:
#In Python, the nonlocal keyword is used within nested functions to indicate that a variable is not
#local to the inner function, but rather belongs to an enclosing function’s scope.

#This allows you to modify a variable from the outer function within the nested function, 
#while still keeping it distinct from global variables.'''

In [21]:
msg = "string1"

def func():
    #msg = "roro"   
    for a in msg:
        if a == 'r':
            print(a)

func()

r

In [22]:
msg = "string1"

def func():
    msg = "roro"   
    for a in msg:
        if a == 'r':
            print(a)

func()

print(msg)

r
r
string1

In [25]:
# NOT DECLARED - NON LOCAL , NO CHANGES seen  
msg = "global"
def func0():
    msg = "local"

    def func():
        msg = "notdeclarednonlocal"   
        for a in msg:
            if a == 'r':
                print(a)
    func()
    print(msg)
func0()

print(msg)

r
local
global

In [29]:
# Declared non local 
msg = "global"
def func0():
    msg = "local" #overrides the global and if we access now msg in func this is to be considered....

    def func():
        nonlocal msg # Declaration 
        msg = "declared_nonlocal_var" 
        for a in msg:
            if a == 'r':
                print(a)
    func()
    print(msg)
func0()

print(msg)

r
r
declared_nonlocal_var
global

In [31]:
#NOTE 
#we can only access the global variable but cannot modify it with mentioning it explicitly 

a = 2 
def func():
    global a   # This is important 
    a = a + 1
    print(a)
func()

3

In [32]:
'''
The basic rules for global keyword in Python are:

    When we create a variable inside a function, it is local by default.
    When we define a variable outside of a function, it is global by default. You don't have to use the global keyword.
    We use the global keyword to modify (write to) a global variable inside a function.
    Use of the global keyword outside a function has no effect.
'''

"\nThe basic rules for global keyword in Python are:\n\n    When we create a variable inside a function, it is local by default.\n    When we define a variable outside of a function, it is global by default. You don't have to use the global keyword.\n    We use the global keyword to modify (write to) a global variable inside a function.\n    Use of the global keyword outside a function has no effect.\n"

In [36]:
x  = int(input("Enter positive number:"))

def fact(dummy_x):
    if dummy_x ==0 or dummy_x==1:
        return 1
    return dummy_x*fact(dummy_x-1)
    
y =  fact(x)
print(y)

Enter positive number: 6

720

In [37]:
# By default, the maximum depth of recursion is 1000. If the limit is crossed, it results in RecursionError

In [39]:
# PYTHON MODULES 

#Module is a file that contains code to perform a specific task. A module may contain variables, functions, classes etc.

# INSHORT IT CAN CONTAIN A LOT OF THINGS 

import math 

a = math.pow(2,3)
print(a)

8.0

In [40]:
# example.py contain assume this thing

def add(a, b):

   result = a + b
   return result

In [42]:
#import example 
# a = example.add(2,3)  and here returned value is 5

In [43]:
'''

    Python has tons of standard modules. You can check out the full list of Python standard modules and their use cases.
    Standard modules can be imported the same way as we import our user-defined modules.
'''

'\n\n    Python has tons of standard modules. You can check out the full list of Python standard modules and their use cases.\n    Standard modules can be imported the same way as we import our user-defined modules.\n'

In [44]:
from math import pi 

print(pi)

3.141592653589793

In [45]:
import math 
print(math.pi)

3.141592653589793

In [49]:
from math import * # Like import everything or all 
print(pi)
print(dir(math)) # Shows which all functions lies in the directory of math module

3.141592653589793
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [61]:
# Above are not user defined attributes with underscore and for eg lcm , log2 etc are userdefined tho ...

''' NOTE: WHICHEVER names begin with underscore arent user defined mostly" '''

' NOTE: WHICHEVER names begin with underscore arent user defined mostly" '

In [62]:
print(dir())
#All the names defined in our current namespace can be found out using the dir() function without any arguments.

['In', 'Out', '_', '_2', '_3', '_32', '_4', '_43', '_5', '_61', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'acos', 'acosh', 'add', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exit', 'exp', 'expm1', 'fabs', 'fact', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'func', 'func0', 'gamma', 'gcd', 'get_ipython', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'math', 'modf', 'msg', 'nan', 'nextafter', 'open', 'outer', 'perm', 'pi', 'pow', 'prod', 'quit', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp', 'x', 'y']

In [63]:
print(math.__name__) # Gives name of the module

math

In [ ]:
'''

We have packages and they have modules in it. For eg package for game and subpackages are sound,image and level.

Now each subopackage/directory/folder in the package must contain __init__.py file(initialisation file). This file can be left empty but we generally place the initialization code for that package in this file.

NOTE: packages contain modules, and packages can also contain sub-packages.
Modules themselves do not contain packages (only code, classes, functions, variables).

So We have package(game) -> subpackages(sound,image,level) , here each subpackages must contain __init__.py -> subpackage sound has several modules (play.py,pause.py,.....)

NOW: Before Python 3.3: Yes, __init__.py was required.
Now: It’s optional (implicit namespace packages). Means any .py can act as the initialisation though.

'''

# Importing module 
# import game.sound.pause

In [64]:
'''

1) import Game.Level.start
VERY IMP:Now, if this module contains a function named select_difficulty(), we must use the full name to reference it.
Game.Level.start.select_difficulty(2)

2) from Game.Level import start
start.select_difficulty(2)

3) from game.level.start import select_difficulty
select_difficulty(2)

'''

'\n\n1) import Game.Level.start\nVERY IMP:Now, if this module contains a function named select_difficulty(), we must use the full name to reference it.\nGame.Level.start.select_difficulty(2)\n\n2) from Game.Level import start\nstart.select_difficulty(2)\n\n3) from game.level.start import select_difficulty\nselect_difficulty(2)\n\n'

In [66]:
# NAMESPACE POLLUTION 

# Whats namespace pollution though:

'''
Usually
from numpy import* ( its rypically import all )
from math import*

so both has sqrt() function and one of them will overwrite another and messes up the things usually.

Another example of pollute :
from game.level import func1
from randompackage import fucn1

so func(x) is which one we cant gaurantee though . typically second one overwrites the first one though .....

SO NOW :
if you do -> import math 
             import numpy

now you can use math.sqrt() and numpy.sqrt()
'''

# So we can alais them as 
# from game.sound import func1 as func11
# from random import func1 as func12

'\nUsually\nfrom numpy import* ( its rypically import all )\nfrom math import*\n\nso both has sqrt() function and one of them will overwrite another and messes up the things usually.\n\nAnother example of pollute :\nfrom game.level import func1\nfrom randompackage import fucn1\n\nso func(x) is which one we cant gaurantee though . typically second one overwrites the first one though .....\n\nSO NOW :\nif you do -> import math \n             import numpy\n\nnow you can use math.sqrt() and numpy.sqrt()\n'

In [74]:
print(__name__) # Property of python file....here __name__ show : shows the name of the current module.

__main__

In [68]:
'''
Some programming languages have a special function called main() which is the execution point for a program file. 
Python interpreter, however, runs each line serially from the top of the file and has no explicit main() function.

Python offers other conventions to define the execution point. One of them is using the main()
'''

'\nSome programming languages have a special function called main() which is the execution point for a program file. \nPython interpreter, however, runs each line serially from the top of the file and has no explicit main() function.\n\nPython offers other conventions to define the execution point. One of them is using the main()\n'

In [69]:
# We can call a .py file as a module too. eg:box.py
# import box =====> When you import a module, Python executes the module’s top-level code once. IT RUNS 

# So here it prints hello world and not __main__ as above code though  Just imagine ....
#It is because, in the context of running a Python file as a module, the name of the module itself is assigned to the __name__ variable

In [70]:
# LETS SEE VERY IMPORTANT RESULTS :
# box.py
print("hello world")
print(__name__)

hello world
__main__

In [77]:
#CASE 2 
# main.py
#import box
# OUTPUT is : hello world
#             box

In [75]:
# Because now : __name__ = "box" ........its Assigned that way though .
#It is because, in the context of running a Python file as a module, the name of the module itself is assigned to the __name__ variable.

In [73]:
# WOW 

'''
if __name__ == "__main__":
    print("Run directly")
'''

# THIS DOESNT RUN WHEN I IMPORT IT MEANS ASSUME some abc.py file has it and it wont run when I do import.

'\nif __name__ == "__main__":\n    print("Run directly")\n'

In [78]:
'''

def main():
    print("Hello World")

if __name__=="__main__":
    main()

OP:Hello World if ran script.py directly 

However, when we run it as a module by importing it in the main.py file, no output is displayed since the main() function is not called.

Here, we have created a custom main() function in the helloworld.py file. It is executed only when the program is run as a standalone script and not as an imported module.

This is the standard way to explicitly define the main() function in Python. It is one of the most popular use cases of __name__ variable of a Python file.

'''

'\n\ndef main():\n    print("Hello World")\n\nif __name__=="__main__":\n    main()\n\nOP:Hello World if ran script.py directly \n\nHowever, when we run it as a module by importing it in the main.py file, no output is displayed since the main() function is not called.\n\nHere, we have created a custom main() function in the helloworld.py file. It is executed only when the program is run as a standalone script and not as an imported module.\n\nThis is the standard way to explicitly define the main() function in Python. It is one of the most popular use cases of __name__ variable of a Python file.\n\n'

---------------------------------------------------------
PYTHON FILES 
---------------------------------------------------------

In [79]:
#Yes — a CSV file stores data in rows, with values separated by commas (,).

In [80]:
'''
SN, Name,    City
1,  Michael, New Jersey
2,  Jack,    California
'''

'\nSN, Name,    City\n1,  Michael, New Jersey\n2,  Jack,    California\n'

In [84]:
import pandas as pd

In [105]:
# To read the CSV file using pandas, we can use the read_csv() function.

# Now as we learnt that we use pd.func() to use the above package 
# READ
pd.read_csv('abc.csv')

   Roll no   Name  Marks
0        1  Alice     95
1        2   Manu     65
2        3  dhanu     27

In [97]:
# WRITE 
# DataFrame() takes the row for csv file 
# to_csv() called to write in csv file 

df = pd.DataFrame([[16383, -0.01220128]])
df.to_csv('abc.csv', index = False)   # Index is not made by pandas by default tho

In [98]:
pd.read_csv('abc.csv')

       0         1
0  16383 -0.012201

In [102]:
 dta = [ [1,'Alice', 95],[2,'Manu',65],[3,'dhanu',27]]
df = pd.DataFrame(dta,columns=['Roll no','Name','Marks'])
df.to_csv('abc.csv',index = True) # by defualt true by pandas
pd.read_csv('abc.csv')

   Unnamed: 0  Roll no   Name  Marks
0           0        1  Alice     95
1           1        2   Manu     65
2           2        3  dhanu     27

In [106]:
 dta = [ [1,'Alice', 95],[2,'Manu',65],[3,'dhanu',27]]
df = pd.DataFrame(data = dta,columns=['Roll no','Name','Marks'])
df.to_csv('abc.csv', index = False)
pd.read_csv('abc.csv')

   Roll no   Name  Marks
0        1  Alice     95
1        2   Manu     65
2        3  dhanu     27

In [104]:
# JUPYTER ALSO CREATES INDEX SO DONT GET CONFUSED FOR NOW THOUGH .............

---------------------------------------------------------
PYTHON Exceptions
---------------------------------------------------------

In [109]:
print(dir(__builtins__)) #We can view all the built-in exceptions using the built-in local() function as follows:

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [110]:
#In Python, we use the try...except block to handle exceptions.

In [114]:
'''
try:
    # code that may cause exception
except:
    # code to run when exception occurs
'''

'\ntry:\n    # code that may cause exception\nexcept:\n    # code to run when exception occurs\n'

In [118]:
try:
    a = 9
    b = 1
    c = a / b
    print(c)
except:
    print(" Hmm, Cant divide by zero my frnd")

9.0

In [119]:
try:
    lst = [1,3,4,6,9]
    print(lst[5])
except ZeroDivisionError:
    print("ZeroDivisionError:")
except IndexError:
    print("Out of Bounds")

Out of Bounds

In [124]:
# ASSERT if false python raises AssertionError:

try:
    x = int(input("Enter Int:"))
    assert x % 2 == 1
except:
    print(" You entered Even number and its even clause")
else:
    print('You have entered Odd number and this is else clause')

 You entered Even number and its even clause

In [134]:
# VERY USEFUL FOR RECIPROCAL 

try:
    x = int(input("Enter Int number:"))
    assert x != 0 # produces exception if assertion is false . x ==0 is false all other are true....
except:
    print("Cant divide by zero")
else:
    r = 0
    r  = 1/x
    print(r)

Enter Int number: 212

0.0047169811320754715

In [135]:
'''
try → run the code

except → runs only if an exception occurs

else → runs only if try completes with NO exception
'''

'\ntry → run the code\n\nexcept → runs only if an exception occurs\n\nelse → runs only if try completes with NO exception\n'

In [137]:
try:
    x = int(input("Enter Int number:"))
    assert x != 0 # produces exception if assertion is false . x ==0 is false all other are true....
except:
    print("Cant divide by zero")
else:
    r = 0
    r  = 1/x
    print(r)
finally:
    print("Always executes whether exception occurs or not.... ")

Enter Int number: 100

0.01
Always executes whether exception occurs or not....

---------------------------------------------------------
PYTHON Objects and Classes
---------------------------------------------------------

In [139]:
# An object is simply a collection of data (variables) and methods (functions). Similarly, a class is a blueprint for that object.
# Note: The variables inside a class are called attributes.

In [142]:
class node:
    a = 10 
    b = "String"
    c = 5

var1 = node()
var2 =node()
print(var1.a)
var1.c=6
print(var2.c)
print(var1.c)

10
5
6

In [155]:
class A:  # Class with function inside 
    L = 0.0
    B = 0.0

    def area_rec(self):    # self as arguments so args accessed from class itself 
        c = (self.L)*(self.B) 
        print(f'The area of rectangle is {c}')

box1 = A() #Object is imp is improtant 
box1.L = 8
box1.B = 9

box1.area_rec()

The area of rectangle is 72

In [156]:
'''

BE CAREFUL 
CREATING OBJECT IS IMP AND USE THAT ONLY 
ATTRIBUTES ACCESS ALSO WITH THAT 
SO AS THE FUNCTION 

'''

'\n\nBE CAREFUL \nCREATING OBJECT IS IMP AND USE THAT ONLY \nATTRIBUTES ACCESS ALSO WITH THAT \nSO AS THE FUNCTION \n\n'

In [157]:
class cars:

    def __init__(self, myname =" "):
        self.myname = myname

vehicles = cars("ferrari")
print(vehicles.myname)

ferrari

In [165]:
class point:

    def __init__(self,a,b): # Here you can create memeory and instance of var x and y ...
        self.a = a          # So here a and b contains passed values game and 2 now we need to store before function init is killed.
        self.b = b          # if you store like a = a then its like a local variable and gets vanished after func gets finished

node = point(a = 'game ', b = 2)  # Python is like water ..... not Like C lang 
print(node.a)
print(node.b)

# In Python, the class definition is just a blueprint. 
#You don't actually define the instance variables (x and y) and assign memory until you create an object and run the constructor (__init__).

game
2

In [168]:
# INHERITANCE 
#The newly created class is known as the subclass (child or derived class).
#The existing class from which the child class inherits is known as the superclass (parent or base class)

In [167]:
'''
Inheritance is an is-a relationship. That is, we use inheritance only if there exists an is-a relationship between two classes. For example,

    Car is a Vehicle
    Apple is a Fruit
    Cat is an Animal

Here, Car can inherit from Vehicle, Apple can inherit from Fruit, and so on.
'''

'\nInheritance is an is-a relationship. That is, we use inheritance only if there exists an is-a relationship between two classes. For example,\n\n    Car is a Vehicle\n    Apple is a Fruit\n    Cat is an Animal\n\nHere, Car can inherit from Vehicle, Apple can inherit from Fruit, and so on.\n'

In [170]:
# inheritance 
'''
That's a very concise way to summarize the core of inheritance! You've got the parent-to-child access correct.
Can we access child attributes in the parent?

Short Answer: Generally, No, and you should avoid it.

Detailed Explanation:

Inheritance is defined as a one-way relationship .

    Parent knows nothing about the Child (The Rule):

        The Parent class is written before the Child class is ever defined.

        When you define the Parent class, the Child class (and its specific attributes, like Child.z) doesn't exist yet.

        Therefore, the Parent cannot contain any code that assumes or accesses a specific Child attribute.

    Why it's Bad Design:

        A single Parent might have ten different Child classes (e.g., Animal is the parent of Dog, Cat, and Bird).

        If the Animal class tried to access the Dog attribute leash_color, it would immediately 
        fail when you try to create a Cat or Bird object because they don't have that attribute.
        '''

"\nThat's a very concise way to summarize the core of inheritance! You've got the parent-to-child access correct.\nCan we access child attributes in the parent?\n\nShort Answer: Generally, No, and you should avoid it.\n\nDetailed Explanation:\n\nInheritance is defined as a one-way relationship .\n\n    Parent knows nothing about the Child (The Rule):\n\n        The Parent class is written before the Child class is ever defined.\n\n        When you define the Parent class, the Child class (and its specific attributes, like Child.z) doesn't exist yet.\n\n        Therefore, the Parent cannot contain any code that assumes or accesses a specific Child attribute.\n\n    Why it's Bad Design:\n\n        A single Parent might have ten different Child classes (e.g., Animal is the parent of Dog, Cat, and Bird).\n\n        If the Animal class tried to access the Dog attribute leash_color, it would immediately \n        fail when you try to create a Cat or Bird object because they don't have that attribute.\n        "

In [233]:
class animal:
    total = 9
    def __init__(self,name):
        self.name = name
        print('dekho',self.name)

class cat(animal):
    # Now total and name are also attributes of cat 
     def eat(self):
         self.total = 10
         print(self.total)
         print(self.name)

obj = cat('palti')   # Jo cat nu current instance aane pakadse . Toh jetla cat na attribute cha a pehla palti ne lese pachi ena predecessor etle parents and grandparents. Pan child jode init nathi and parent jode cha to a auto func cha to run krse . for more detail next cell maa rules jova 
obj.eat()            # have eat call kryu cha to ej chalse 
obj1 = animal('jthalali') #aama to bhai khali parent nu badalye cha and aama kai call krvanu nai kemke init cha 

# SO SELF MEANS IN THAT INSTANCE I REPRESENT THAT SUB CLASS OR CLASS'S THINGS / VASTU.....

dekho palti
10
palti
dekho jthalali

In [232]:
# SOME IMP FACTS :
'''
Scenario,What Runs Automatically
Child has NO __init__,Parent's __init__ runs.
Child HAS an __init__,ONLY the Child's __init__ runs.
'''
#Yes, the same logic holds for any depth of inheritance.

# WHY passing inside cat and not animal('palti') ?

"\nScenario,What Runs Automatically\nChild has NO __init__,Parent's __init__ runs.\nChild HAS an __init__,ONLY the Child's __init__ runs.\n"

In [200]:
'''
That is a very good summary of your current understanding! 
You've correctly identified the unidirectional nature of inheritance (Parent → Child) and the core function of self.

Let's break down your points and clarify the inheritance hierarchy:
1. The Meaning of self in a Parent Method

The self parameter inside a method (a def inside a class) means: "The specific object instance this method is currently running on."

    In a Parent Class: If you define def show_id(self): in Parent, and then you call it on a Child object: child_instance.show_id().

        The self inside show_id is actually pointing to the child_instance.

        Therefore, any attribute accessed via self. will be sought first in the child_instance before moving up to the Parent class.

'''

'\nThat is a very good summary of your current understanding! \nYou\'ve correctly identified the unidirectional nature of inheritance (Parent → Child) and the core function of self.\n\nLet\'s break down your points and clarify the inheritance hierarchy:\n1. The Meaning of self in a Parent Method\n\nThe self parameter inside a method (a def inside a class) means: "The specific object instance this method is currently running on."\n\n    In a Parent Class: If you define def show_id(self): in Parent, and then you call it on a Child object: child_instance.show_id().\n\n        The self inside show_id is actually pointing to the child_instance.\n\n        Therefore, any attribute accessed via self. will be sought first in the child_instance before moving up to the Parent class.\n\n'

In [218]:
'''
TYPES OF ATTRIBUTES MY FRIEND VERY IMP ....
attribute is a Class Attribute or an Instance Attribute
'''

'\nTYPES OF ATTRIBUTES MY FRIEND VERY IMP ....\nattribute is a Class Attribute or an Instance Attribute\n'

In [250]:

class cat(animal):
     total = 7
     def eat(self):
         #self.total = 10
         print(self.total)
         print(self.name)

class animal:
    total = 9
    name ="palti"
    def fun(self):                           #init was automatic func no need to call and if we start the engine of a class animal then init runs inside it..
        print('dekho',self.name)
        print(total)


#obj = cat()
#obj.eat()            
#obj1 = animal()
#obj1.fun()

#PRINTS NOTHING

In [252]:
class cat(animal):
     total = 7
     def eat(self):
         #self.total = 10
         print(self.total)
         print(self.name)

class animal:
    total = 9
    name ="palti"
    def fun(self):                           #init was automatic func no need to call and if we start the engine of a class animal then init runs inside it..
        print('dekho',self.name)
    print(total)


#obj = cat()
#obj.eat()            
#obj1 = animal()
#obj1.fun()

# OUTPUT : 9  //means that print is executed as programs runs ........

9

In [253]:
obj = cat()
obj.eat()            
#obj1 = animal()
#obj1.fun()

class cat(animal):
     total = 7
     def eat(self):
         #self.total = 10
         print(self.total)
         print(self.name)

class animal:
    total = 9
    name ="palti"
    def fun(self):                           #init was automatic func no need to call and if we start the engine of a class animal then init runs inside it..
        print('dekho',self.name)
    print(total)


# outputs : 7 , palti and 9 ....
# WOW why 7 is printed first coz we called eat before class animal executed line by line by compiler a vague reasoning but broad idea right ...

7
palti
9

In [256]:
obj = cat()
obj.eat()            
#obj1 = animal()
#obj1.fun()

class cat(animal):
     total = 7
     def eat(self):
         self.total = 10
         print(self.total)
         print(self.name)

class animal:
    total = 9
    name ="palti"
    def fun(self):                           #init was automatic func no need to call and if we start the engine of a class animal then init runs inside it..
        print('dekho',self.name)
    print(total)

# outputs : 10 , palti and 9 ....

10
palti
9

In [257]:
class cat(animal):
     total = 7
     def eat(self):
         self.total = 10
         print(self.total)
         print(self.name)

class animal:
    total = 9
    name ="palti"
    def fun(self):                           #init was automatic func no need to call and if we start the engine of a class animal then init runs inside it..
        print('dekho',self.name)
    print(total)

obj = cat()
obj.eat()            
#obj1 = animal()
#obj1.fun()

# outputs : 9,10,palti ....

9
10
palti

In [268]:
class cat(animal):
     total = 7
     def eat(self):
         self.total = 10
         print(self.total)
         print(self.name)

class animal:
    total = 9
    name ="palti"
    def fun(self):                           #init was automatic func no need to call and if we start the engine of a class animal then init runs inside it..
        print('dekho',self.name)
    print(total)

obj = cat()
obj.eat()            
obj1 = animal()
obj1.fun()

# outputs : 9,10,palti, dekho palti ....

9
10
palti
dekho palti

In [292]:
obj = cat()                 # 1st nothing called then prints 9 coz last print in the animal class .
obj.eat()                   # we are calling eat() before animal class reached by the machine reader ...so print 10 and then palti name inherited from parent. Changes total of parent and thus everyone who inherited it. 
obj1 = animal()             
obj1.fun()
obj2 = dog()
obj2.bark()

class animal:
    total = 9
    name ="palti"
    def fun(self):                          
        print('animal',self.name)
    print(total)                             
    
class cat(animal):

     def eat(self):
         self.total = 10
         print(self.total)
         print(self.name)
         
class dog(animal):
    def bark(self):
        print('dog',self.total)


print('------------------')
obj.eat()  
obj2.bark()

10
palti
animal palti
dog 9
9
------------------
10
palti
dog 9

In [298]:
'''

Feature------------Instance Attribute-------------------------------------Class Attribute
Location-----------Lives on the specific object ("""""""self"""""").------Lives on the class blueprint itself.
Creation-----------Inside __init__ using self.name = value.---------------Direct assignment in the class body: name = value.
Sharing------------NO.Each object gets its own copy.----------------------YES. Shared by the class and all its objects.
Purpose------------"To hold data unique to that object--------------------To hold data common to all objects (e.g., Car.wheels = 4).
                    (e.g., car.color, cat.name).
C Equivalent-------A member field inside the struct itself.---------------A static variable shared by all structs of that type.

'''

'\n\nFeature------------Instance Attribute-------------------------------------Class Attribute\nLocation-----------Lives on the specific object ("""""""self"""""").------Lives on the class blueprint itself.\nCreation-----------Inside __init__ using self.name = value.---------------Direct assignment in the class body: name = value.\nSharing------------NO.Each object gets its own copy.----------------------YES. Shared by the class and all its objects.\nPurpose------------"To hold data unique to that object--------------------To hold data common to all objects (e.g., Car.wheels = 4).\n                    (e.g., car.color, cat.name).\nC Equivalent-------A member field inside the struct itself.---------------A static variable shared by all structs of that type.\n\n'

In [303]:
class animal:
    total_legs = 4 # Class attribute and YES. Shared by the class and all its objects.

    def __init__(self,name):
        self.name = name # Instance Attribute (Individual value)
    def change_total_legs(self, new_value):
        # CRUCIAL: Using 'self.total_legs' forces Python to create an 
        #    Instance Attribute, shadowing the Class Attribute for THIS object.
        self.total_legs = new_value

dog = animal("Fido")
cat = animal("whiskers")

print(f"Dog's legs: {dog.total_legs}")   # Output: 4 (Search 2)
print(f"Cat's legs: {cat.total_legs}")   # Output: 4 (Search 2)

print("now fido loses 1 leg")
dog.change_total_legs(3)
print(f"Dog's legs: {dog.total_legs}") 
print(f"Cat's legs: {cat.total_legs}")  
print(f"Class legs: {animal.total_legs}")

Dog's legs: 4
Cat's legs: 4
now fido loses 1 leg
Dog's legs: 3
Cat's legs: 4
Class legs: 4

In [304]:
'''
The Rule to Avoid Mistakes:

    To read a shared default: Use self.attribute.

    To write/change a shared default for everyone: Use the Class Name (animal.attribute = new_value).

    To change a value unique to the object: Use self.attribute = new_value (this creates the instance copy).

'''

'\nThe Rule to Avoid Mistakes:\n\n    To read a shared default: Use self.attribute.\n\n    To write/change a shared default for everyone: Use the Class Name (animal.attribute = new_value).\n\n    To change a value unique to the object: Use self.attribute = new_value (this creates the instance copy).\n\n'

In [305]:
class Animal:

    # attributes and method of the parent class
    name = ""
    
    def eat(self):
        print("I can eat")

# inherit from Animal
class Dog(Animal):

    # override eat() method
    def eat(self):
        print("I like to eat bones")

# create an object of the subclass
labrador = Dog()

# call the eat() method on the labrador object
labrador.eat()

I like to eat bones

In [306]:
#in this case, the method in the subclass overrides the method in the superclass. This concept is known as method overriding in Python.

In [310]:
class Animal:

    name = ""
    
    def eat(self):
        print("I can eat")

# inherit from Animal
class Dog(Animal):
    
    # override eat() method
    def eat(self):
        # call the eat() method of the superclass using super()
        super().eat()
        print("I like to eat bones")
  

# create an object of the subclass
labrador = Dog()

labrador.eat()

#so main use of super is not replcaing it just additinally calls super class same func
#The primary use of super() is to additionally call the method of the superclass (parent) that has been overridden in the subclass (child).

I can eat
I like to eat bones

In [312]:
'''
Short Answer

Both prints run because you explicitly told Python to run both by including super().eat() inside the child's (Dog's) eat() method.

The purpose of super().eat() is not to replace the child's method, but to call the parent's version in addition to the child's specific logic.
Breakdown of the Execution

When you call labrador.eat(), this is the step-by-step process:

    The Child Method Starts: Python finds the eat() method in the Dog class and starts running it.

    Parent Method Call: The first line inside Dog.eat() is super().eat().

        This command pauses the Dog.eat() method and tells Python: "Go up one level in the inheritance hierarchy (to Animal) and execute its eat() method now."

    Parent Method Executes: The Animal.eat() method runs and executes its code:
    Python

print("I can eat")

(This produces the first printout.)

Control Returns to Child: Animal.eat() finishes, and control returns to the Dog.eat() method, right after the super().eat() line.

Child Method Continues: The Dog.eat() method executes its next line:
Python

print("I like to eat bones")

(This produces the second printout.)

'''

'\nShort Answer\n\nBoth prints run because you explicitly told Python to run both by including super().eat() inside the child\'s (Dog\'s) eat() method.\n\nThe purpose of super().eat() is not to replace the child\'s method, but to call the parent\'s version in addition to the child\'s specific logic.\nBreakdown of the Execution\n\nWhen you call labrador.eat(), this is the step-by-step process:\n\n    The Child Method Starts: Python finds the eat() method in the Dog class and starts running it.\n\n    Parent Method Call: The first line inside Dog.eat() is super().eat().\n\n        This command pauses the Dog.eat() method and tells Python: "Go up one level in the inheritance hierarchy (to Animal) and execute its eat() method now."\n\n    Parent Method Executes: The Animal.eat() method runs and executes its code:\n    Python\n\nprint("I can eat")\n\n(This produces the first printout.)\n\nControl Returns to Child: Animal.eat() finishes, and control returns to the Dog.eat() method, right after the super().eat() line.\n\nChild Method Continues: The Dog.eat() method executes its next line:\nPython\n\nprint("I like to eat bones")\n\n(This produces the second printout.)\n\n'

In [313]:
# Polymorphism and multiple and multilevel inheritancee explained very well in programmiz

In [315]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # This defines the "nice" way to print the object
    def __str__(self):
        return f"Dog named {self.name}, {self.age} years old."

my_dog = Dog("Fido", 5)

# Without __str__, this would print a vague memory address: <__main__.Dog object at 0x...>
# With __str__, it calls the method automatically:
print(my_dog) 
# Output: Dog named Fido, 5 years old.

Dog named Fido, 5 years old.

---------------------------------------------------------
PYTHON Adv Topics
---------------------------------------------------------

In [1]:
# SYNTAX 

#[expression for item in list if condition == True]

# IF is optional

In [4]:
lst = [ 9,2,5,2]
new_lst = [(a*2) for a in lst if a%2==1]
print(lst)
print(new_lst)

[9, 2, 5, 2]
[18, 10]

In [7]:
lst = [ 9,2,5,2]
new_lst =[]
for a in lst:
    if a % 2 == 1:
        new_lst.append(a*2)

print(lst)
print(new_lst)

[9, 2, 5, 2]
[18, 10]

In [10]:
en = [a for a  in range(0,10) if a%2==0] #Note: The range() function generates a sequence of numbers. To learn more, visit Python range().
print(en)

[0, 2, 4, 6, 8]

In [9]:
Table = [a*9 for a in range (1,11)]
print(Table)

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [17]:
numbers = [1, 2, 3, 4, 5, 6]

#new_lst = [(a/2) for a in numbers if a%2==0 else 'odd']  # INVALID SYNTAX 
print(numbers)
print(new_lst)

[1, 2, 3, 4, 5, 6]
[1.0, 2.0, 3.0]

In [20]:
# CORRECT SYNTAX 
numbers = [1, 2, 3, 4, 5, 6]

new_lst = [(a/2) if a%2==0 else None for a in numbers]  # For if else bring up if else leftside and as usual we have true condition at start 
print(numbers)
print(new_lst)

[1, 2, 3, 4, 5, 6]
[None, 1.0, None, 2.0, None, 3.0]

In [22]:
str1 = "Umbrella"
str2 = "Jujitsulala"
lst = [ a for a in str1 for b in str2 if a==b]
lst1 = [ b for a in str1 for b in str2 if a==b]

print(lst)
print(lst1)

['l', 'l', 'l', 'l', 'a', 'a']
['l', 'l', 'l', 'l', 'a', 'a']

In [26]:
str1 = "Umbrella"
str2 = "Jujitsulala"
lst = [ a for a in str1 if a in str2]

print(lst)

['l', 'l', 'a']

In [38]:
# SOME NESTED STUFF A X B and B X A is diff if both are not same ...

mul = [ [(a,a) if a==b else (a,b) for b in range (0,5)] for a in range(0,5) ]
print(mul)

[[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4)], [(1, 0), (1, 1), (1, 2), (1, 3), (1, 4)], [(2, 0), (2, 1), (2, 2), (2, 3), (2, 4)], [(3, 0), (3, 1), (3, 2), (3, 3), (3, 4)], [(4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]]

In [41]:
lst = [a for a in range(0,5)]
mul = [[a*b for b in lst] for a in range(0,5)]
print(mul)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8], [0, 3, 6, 9, 12], [0, 4, 8, 12, 16]]

In [42]:
# Equivalent code

mul =[]

for a in range(0,5):
    row =[]
    for b in range(0,5):
        row.append(a*b)
    mul.append(row)

print(mul)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8], [0, 3, 6, 9, 12], [0, 4, 8, 12, 16]]

In [45]:
'''

Both map() and filter() are built-in functions used to process lists and other iterables in a functional way, avoiding explicit loops.
1. map(function, iterable)

    Purpose: Transform ##every## element.

    Action: It takes a function and applies that function to #every single item# in the input list.

    Result: A new list containing the modified items.

        Example: Turn [1, 2, 3] into [10, 20, 30] (by multiplying by 10).

2. filter(function, iterable)

    Purpose: Select a subset of elements.

    Action: It takes a function that must return either True or False (a condition). It checks this condition against every item.

    Result: A new list containing only the items for which the function returned True.

        Example: Turn [1, 2, 3, 4] into [2, 4] (by selecting only even numbers).

'''

'\n\nBoth map() and filter() are built-in functions used to process lists and other iterables in a functional way, avoiding explicit loops.\n1. map(function, iterable)\n\n    Purpose: Transform ##every## element.\n\n    Action: It takes a function and applies that function to #every single item# in the input list.\n\n    Result: A new list containing the modified items.\n\n        Example: Turn [1, 2, 3] into [10, 20, 30] (by multiplying by 10).\n\n2. filter(function, iterable)\n\n    Purpose: Select a subset of elements.\n\n    Action: It takes a function that must return either True or False (a condition). It checks this condition against every item.\n\n    Result: A new list containing only the items for which the function returned True.\n\n        Example: Turn [1, 2, 3, 4] into [2, 4] (by selecting only even numbers).\n\n'

In [44]:
numbers = [1, 2, 3, 4, 5]

def add_ten(x):
    return x + 10

lst = list(map(add_ten,numbers))
#Map(func, *iterables) --> map object

print(lst)

[11, 12, 13, 14, 15]

In [46]:
numbers = [1, 2, 3, 4, 5]
lst = list(map(lambda x: x*x,numbers))
# lambda is a func takes a and returns x^2 . Ex: lambda x, y: x + y can take any input variables

print(lst)

[1, 4, 9, 16, 25]

In [47]:
numbers = [1, 2, 3, 4, 5]
lst = list(filter(lambda x: x%2==0,numbers))  #filter(function or None, iterable)
print(lst)

[2, 4]

In [1]:
# lambda argument(s) : expression

In [2]:
'''
We use the lambda keyword instead of def to create a lambda function. Here's the syntax to declare the lambda function:

lambda argument(s) : expression 

Here,

    argument(s) - any value passed to the lambda function
    expression - expression is executed and returned
'''

"\nWe use the lambda keyword instead of def to create a lambda function. Here's the syntax to declare the lambda function:\n\nlambda argument(s) : expression \n\nHere,\n\n    argument(s) - any value passed to the lambda function\n    expression - expression is executed and returned\n"

In [3]:
# In lambda we can also pass nothing but return something .

In [5]:
func1 = lambda x,y : x*x*y
c=func1(2,3)
print(c)

12

In [7]:
func1 =  lambda : print("hi")
func1()

hi

In [8]:
lst = [1,2,2]
a=sum(lst)
print(a)

5

In [9]:
'''
Purpose	Used in Generator Functions.	
Action	Pauses function execution and returns a value. State is saved.	
Output	A generator object (which is an iterator).	
Resumption	Resumes from where it left off on the next call.	
'''

# In contrast to return

'\nPurpose\tUsed in Generator Functions.\t\nAction\tPauses function execution and returns a value. State is saved.\t\nOutput\tA generator object (which is an iterator).\t\nResumption\tResumes from where it left off on the next call.\t\n'

In [19]:
def fibonacci_numbers(nums):
    x, y = 0, 1
    for _ in range(nums):
        x, y = y, x+y
        yield x

def square(nums):
    for num in nums:
        yield num**2
        
a= list(fibonacci_numbers(10))
b= list(square(fibonacci_numbers(10)))
print(a)
print(b)
print(sum(b))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]
4895

In [20]:
#The nonlocal keyword in Python is specifically used inside a nested function (or an inner function) 
#to indicate that a variable refers to a variable in the nearest enclosing scope that is not the global scope.

In [21]:
def calculate():
    num = 1
    def inner_func():
        nonlocal num
        num += 2
        return num
    return inner_func

# call the outer function
odd = calculate()

# call the inner function
print(odd())
print(odd())
print(odd())

# call the outer function again
odd2 = calculate()
print(odd2())

3
5
7
3

In [22]:
'''
Here is a step-by-step breakdown of what happens in your code:
1. odd = calculate()

    The calculate() function is executed for the first time.

    The variable num = 1 is created in calculate's local scope.

    calculate() returns the inner_func object.

    Crucially: Because inner_func references num (using nonlocal), Python recognizes that num must be kept alive. The returned inner_func object forms a closure over the scope of calculate(), permanently storing the value of num.

    The variable odd now holds this callable function (the closure).

    '''

"\nHere is a step-by-step breakdown of what happens in your code:\n1. odd = calculate()\n\n    The calculate() function is executed for the first time.\n\n    The variable num = 1 is created in calculate's local scope.\n\n    calculate() returns the inner_func object.\n\n    Crucially: Because inner_func references num (using nonlocal), Python recognizes that num must be kept alive. The returned inner_func object forms a closure over the scope of calculate(), permanently storing the value of num.\n\n    The variable odd now holds this callable function (the closure).\n\n    "

In [23]:
'''
Point,Description
1. Variable Persistence (The Core Effect),"When the outer function finishes executing,
its local variables that were referenced by the inner function are not destroyed. 
They are permanently preserved and bound to the inner function object."
2. Referencing vs. Modification (The Mechanism),"A closure is formed by the inner
function referencing (reading) the outer variable. If the inner function needs to modify 
that variable, you must explicitly use the nonlocal keyword to tell Python to update the preserved value, 
not create a new local one."
'''

'\nPoint,Description\n1. Variable Persistence (The Core Effect),"When the outer function finishes executing,\nits local variables that were referenced by the inner function are not destroyed. \nThey are permanently preserved and bound to the inner function object."\n2. Referencing vs. Modification (The Mechanism),"A closure is formed by the inner\nfunction referencing (reading) the outer variable. If the inner function needs to modify \nthat variable, you must explicitly use the nonlocal keyword to tell Python to update the preserved value, \nnot create a new local one."\n'

In [24]:
'''
If you have a single function (i.e., no nested functions) and that function simply returns a variable, then no, the variable is not kept "alive" in the memory after the function call is complete.
🛑 Why the Variable is Not Kept Alive:

    Local Scope Destruction: When a normal, non-nested function finishes executing, its local scope (where the variable was created) is destroyed.

    No Closure: A closure requires a nested function to capture the outer function's environment. Without nesting, there is no inner function to "carry" the variable and keep it alive.

    Return Value is a Copy/Reference: The return statement simply sends the value of the variable (or a reference to an object, like a list) back to the caller. It does not maintain the function's internal state.

📝 Example: No Nesting, No Persistence
'''

'\nIf you have a single function (i.e., no nested functions) and that function simply returns a variable, then no, the variable is not kept "alive" in the memory after the function call is complete.\n🛑 Why the Variable is Not Kept Alive:\n\n    Local Scope Destruction: When a normal, non-nested function finishes executing, its local scope (where the variable was created) is destroyed.\n\n    No Closure: A closure requires a nested function to capture the outer function\'s environment. Without nesting, there is no inner function to "carry" the variable and keep it alive.\n\n    Return Value is a Copy/Reference: The return statement simply sends the value of the variable (or a reference to an object, like a list) back to the caller. It does not maintain the function\'s internal state.\n\n📝 Example: No Nesting, No Persistence\n'

In [1]:
def make_multiplier_of(n):
    def multiplier(x):
        return x * n
    return multiplier


# Multiplier of 3
times3 = make_multiplier_of(3) # HOLDS THE SPECIFIC CLOSURE THO with n=3 ..... WOW VAR HOLDS THE INSTANCE 

# Multiplier of 5
times5 = make_multiplier_of(5) 

# Output: 27
print(times3(9))

# Output: 15
print(times5(3))

# Output: 30
print(times5(times3(2)))

27
15
30

In [2]:
'''
What is an Object in Python?

In Python, an object is simply a specific instance of a type (or class).
Every piece of data in a Python program—a number, a string, a list, even a function, a module, or a class itself—is an object.

Every object has three core characteristics:

    Identity (ID)

        This is the object's unique, fixed memory address.

        It never changes once the object has been created.

        You can check an object's ID using the built-in id() function.
    Type (Class)

        This defines the kind of object it is (e.g., an integer, a string, a list, a function).

        The type determines what kind of operations you can perform on the object (e.g., you can multiply an integer, but you can't multiply a string).

        You can check an object's type using the built-in type() function.
    Value

        This is the data content held by the object (e.g., the number 5, the text "hello", the items in a list).

        The value of an object determines whether it is mutable (can be changed after creation, like a list) or immutable (cannot be changed after creation, like a number or a string).
        '''

'\nWhat is an Object in Python?\n\nIn Python, an object is simply a specific instance of a type (or class).\nEvery piece of data in a Python program—a number, a string, a list, even a function, a module, or a class itself—is an object.\n\nEvery object has three core characteristics:\n\n    Identity (ID)\n\n        This is the object\'s unique, fixed memory address.\n\n        It never changes once the object has been created.\n\n        You can check an object\'s ID using the built-in id() function.\n    Type (Class)\n\n        This defines the kind of object it is (e.g., an integer, a string, a list, a function).\n\n        The type determines what kind of operations you can perform on the object (e.g., you can multiply an integer, but you can\'t multiply a string).\n\n        You can check an object\'s type using the built-in type() function.\n    Value\n\n        This is the data content held by the object (e.g., the number 5, the text "hello", the items in a list).\n\n        The value of an object determines whether it is mutable (can be changed after creation, like a list) or immutable (cannot be changed after creation, like a number or a string).\n        '

In [3]:
# Evrythign in python is objects even the func are objects

In [4]:
# Decoraters

In [5]:
def outer(x):
    def inner(y):
        return x+y
    return inner 

instance1 = outer(4)
instance2 = instance1(5)
print(instance2)

9

In [7]:
def add(x,y):
    return x+y 

def cal(a , x , y):
    return a(x,y)

v = cal(add , 3,8)
print(v)

11

In [8]:
def add(x,y):
    return x+y 

def cal(z , x , y):
    return z(x,y)

v = cal(add , 3,8)
print(v)

11

In [11]:
def A(func):
    def B():
        print('hello')
        func()
    return B

def c():
    print("ok")

v = A(c)
v()

hello
ok

In [16]:
def make_pretty(func):
    # define the inner function 
    def inner():
        # add some additional behavior to decorated function
        print("I got decorated")

        # call original function
        func()
    # return the inner function
    return inner

# define ordinary function
def ordinary():
    print("I am ordinary")
    
# decorate the ordinary function
decorated_func = make_pretty(ordinary)

# call the decorated function
decorated_func()

'''i can do decorated_func = make_pretty(func1), decorated_func = make_pretty(func1), decorated_func = make_pretty(func1) and make multiple instances'''

I got decorated
I am ordinary

'i can do decorated_func = make_pretty(func1), decorated_func = make_pretty(func1), decorated_func = make_pretty(func1) and make multiple instances'

In [15]:
def make_pretty():
    # define the inner function 
    def inner(func):
        # add some additional behavior to decorated function
        print("I got decorated")

        # call original function
        func()
    # return the inner function
    return inner

# define ordinary function
def ordinary():
    print("I am ordinary")
    
# decorate the ordinary function
decorated_func = make_pretty()

# call the decorated function
decorated_func(ordinary) # Specific instance of decorated_func

I got decorated
I am ordinary

In [14]:
# The short answer is: Yes, you must define the function you want to decorate immediately after the @decorator_name line.

In [41]:
def func_tobe_decorated(box1):
    def add1(x,y):
        print("I got decorated")
        c = x + y
        box1(c)
    return add1

def normal(var1):
    var2 = var1*var1
    print(f'Ans: {var2}')
    
v = func_tobe_decorated(normal)  #add is returned with instance having normal ....
v(2,4)

I got decorated
Ans: 36

In [51]:
def func_tobe_decorated(box1):
    def add1(x,y):
        print("I got decorated")
        c = x + y
        box1(c)
    return add1

@func_tobe_decorated   
def normal1(var1):
    var2 = var1*var1
    print(f'Ans: {var2}')

normal1(3,3) # Normal gets decorated .....and gets called inside add1

I got decorated
Ans: 36

In [53]:
def func1(fun):
    print('hello')
    fun()
    return 
@func1
def fung():
    print("im decorated")
# No Calling coz @decorater returns and fung is passed .......

hello
im decorated

In [55]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner  # Instnace already returned think in terms of instance 

@smart_divide
def divide(a, b):
    print(a/b)

divide(2,5)

divide(2,0)

I am going to divide 2 and 5
0.4
I am going to divide 2 and 0
Whoops! cannot divide

In [56]:
def star(func):
    def inner(*args, **kwargs):
        print("start#" * 5)
        func(*args, **kwargs)
        print("S_END#" * 6)
    return inner


def percent(func):
    def inner(*args, **kwargs):
        print("inner_start#" * 5)
        func(*args, **kwargs)
        print("T_End%" * 6)
    return inner


@star
@percent
def printer(msg):
    print(msg)

printer("Hello")

start#start#start#start#start#
inner_start#inner_start#inner_start#inner_start#inner_start#
Hello
T_End%T_End%T_End%T_End%T_End%T_End%
S_END#S_END#S_END#S_END#S_END#S_END#

In [57]:
'''
Multiple decorators can be chained in Python.

To chain decorators in Python,
we can apply multiple decorators to a single 
function by placing them one after the other, 
with the most inner decorator being applied first.
'''

'\nMultiple decorators can be chained in Python.\n\nTo chain decorators in Python,\nwe can apply multiple decorators to a single \nfunction by placing them one after the other, \nwith the most inner decorator being applied first.\n'

In [60]:
class Celsius:
    def __init__(self, temperature):
        self.temperature = temperature

    def to_fahrenheit(self):
        return (self.temperature * 1.8) + 32

In [61]:
# RegEx

In [81]:
import re

pattern = ' ^a...s$'       # if space in in the ' ' of pattern or test_string any side start or end it will who unsucessful tho...
test_string = 'abyss'
result = re.match(pattern, test_string)

if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Search successful.

In [82]:
import re

pattern = 'abyss'       # if space in in the ' ' of pattern or test_string any side start or end it will who unsucessful tho...
test_string = 'abyss'
result = re.match(pattern, test_string)

if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Search successful.

In [83]:
import re

pattern = ' a...s$'       # if space in in the ' ' of pattern or test_string any side start or end it will who unsucessful tho...
test_string = ' abyss'
result = re.match(pattern, test_string)

if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Search successful.

In [84]:
# so ^ and $ are used to represent Reg Ex and if we leave space string not compared properly and first false returns match as false ...

In [85]:
# To specify regular expressions, metacharacters are used. In the above example, ^ and $ are metacharacters.

In [86]:
'''
Metacharacters are characters that are interpreted in a special way by a RegEx engine. Here's a list of metacharacters:

[] . ^ $ * + ? {} () \ |

'''

"\nMetacharacters are characters that are interpreted in a special way by a RegEx engine. Here's a list of metacharacters:\n\n[] . ^ $ * + ? {} () \\ |\n\n"

In [87]:
# https://www.programiz.com/python-programming/regex

In [90]:
import re

string = 'hello 12 hi 89. Howdy 34'
p1 = '\d'
p2 ='\d*'
p3 = '\d+'
r1 = re.findall(p1, string) 
print(r1)
r2 = re.findall(p2, string) 
print(r2)
r3 = re.findall(p3, string) 
print(r3)

['1', '2', '8', '9', '3', '4']
['', '', '', '', '', '', '12', '', '', '', '', '89', '', '', '', '', '', '', '', '', '34', '']
['12', '89', '34']

---------------------------------------------------------
PYTHON Additional Topics
---------------------------------------------------------

In [95]:
y = 5 
x = 10 
z = 6 

if x>y<z:             # It breaks the stmt checks x>y and y<z ...
    print('right')

right

In [111]:
assert 0!=4    # gives Assertionerror if false ...like 0<4 
print('hi')

hi

In [114]:
import json

person = '{"name": "Bob", "languages": ["English", "French"]}' #
person_dict = json.loads(person)

# Output: {'name': 'Bob', 'languages': ['English', 'French']}
print( person_dict)

# Output: ['English', 'French']
print(person_dict['languages'])

{'name': 'Bob', 'languages': ['English', 'French']}
['English', 'French']

In [113]:
# In Python, JSON exists as a string. For example:

p = '{"name": "Bob", "languages": ["Python", "Java"]}'

In [116]:
# convert dict to json


import json

person_dict = {'name': 'Bob',
'age': 12,
'children': None
}
person_json = json.dumps(person_dict)

# Output: {"name": "Bob", "age": 12, "children": null}
print(person_json)

{"name": "Bob", "age": 12, "children": null}

In [117]:
# You can convert a dictionary to JSON string using json.dumps() method.

In [118]:
'''
n Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols:

    *args (Non Keyword Arguments)
    **kwargs (Keyword Arguments)

We use *args and **kwargs as an argument when we are unsure about the number of arguments to pass in the functions.
'''

'\nn Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols:\n\n    *args (Non Keyword Arguments)\n    **kwargs (Keyword Arguments)\n\nWe use *args and **kwargs as an argument when we are unsure about the number of arguments to pass in the functions.\n'

In [120]:
'''
In the function, we should use an asterisk * before the parameter name to pass variable length arguments.
The arguments are passed as a tuple and these passed arguments make tuple inside the function 
with same name as the parameter excluding asterisk *.

'''

'\nIn the function, we should use an asterisk * before the parameter name to pass variable length arguments.\nThe arguments are passed as a tuple and these passed arguments make tuple inside the function \nwith same name as the parameter excluding asterisk *.\n\n'

In [121]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [124]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for k in data:
        print(f"{k} is {data[k]}")

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

In [125]:
'''
If you have a list or tuple and want its elements to be 
passed sequentially by position, use the single * operator (for *args).

If you have a dictionary and want its keys to be used as 
argument names, use the double ** operator (for **kwargs).
'''

'\nIf you have a list or tuple and want its elements to be \npassed sequentially by position, use the single * operator (for *args).\n\nIf you have a dictionary and want its keys to be used as \nargument names, use the double ** operator (for **kwargs).\n'

In [126]:
def configure_user(**kwargs):
    if 'role' in kwargs:
        print(f"User Role: {kwargs['role']}")
    if 'status' in kwargs:
        print(f"Status: {kwargs['status']}")
    print(f"All keyword args (as dict): {kwargs}")

user_config = {'role': 'Editor', 'status': 'Active'}

# The double asterisk (**) unpacks the dictionary keys/values as KEYWORD arguments
configure_user(**user_config)

User Role: Editor
Status: Active
All keyword args (as dict): {'role': 'Editor', 'status': 'Active'}